@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
:root{
    --bg:rgb(37, 36, 36);
    --clk-bg:gray;
    --txt-clr:rgb(26, 184, 208);
    --frme:white;
    --hr:black;
    --sec:cyan;
    --shadow:rgb(59, 60, 57);
}
body{
    
    height: 100vh;
    width: 100vw;
    background-color: var(--bg);
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.clock{
    cursor: pointer;
    height: 500px;
    width: 500px;
    background-color: var(--clk-bg);
    border-radius: 50%;
    position: relative;
}
.clk-bg{
    position: absolute;
    height:92% ;
    width: 92%;
    border: 1px solid whitesmoke;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.inner{
    height:85% ;
    width: 85%;
    box-shadow: none;
    background-color: white;
}
.point{
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: var(--bg);
    border-radius: 50%;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 2;
}
.needle{
    --rotation:0;
    background-color: cyan; 
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform-origin: bottom;
    transform: translateX(-50%) rotate(calc(var(--rotation)*1deg));
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.hrs{
    
    height: 25%;
    width: 8px;
}
.min{
    
    height: 30%;
    width: 6px;
}
.sec{
   
    background-color: rgb(230, 48, 48);
    height: 35%;
    width: 3px;
}
.sec::after{
    content: '';
    position: absolute;
    height: 40px;
    width: 2px;
    background-color: rgb(230, 48, 48);
    bottom: -20px;
}
.marker{
    position: absolute;
    
    transform-origin: bottom;
    height: 50%;
    width: 2px;
    top: 0;
    left: 50%;
    transform: translateX(-50%) ;
}

.marker::before{
    content: '';
    position: absolute;
    top:25px;
   
    transform: translateX(-50%);

}
.marker::after{
    content: '';
    position: absolute;
    height: 2.5px;
    width: 2.5px;
    border-radius: 50%;
    background-color: #1019d4;
    top:4px;
    left: 50%;
    transform: translateX(-50%);
}
.marker:nth-child(2){transform: rotate(6deg);}
.marker:nth-child(3){transform: rotate(12deg);}
.marker:nth-child(4){transform: rotate(18deg);}
.marker:nth-child(5){transform: rotate(24deg);}
.marker:nth-child(6){transform: rotate(30deg);}
.marker:nth-child(7){transform: rotate(36deg);}
.marker:nth-child(8){transform: rotate(42deg);}
.marker:nth-child(9){transform: rotate(48deg);}
.marker:nth-child(10){transform: rotate(54deg);}
.marker:nth-child(11){transform: rotate(60deg);}
.marker:nth-child(12){transform: rotate(66deg);}
.marker:nth-child(13){transform: rotate(72deg);}
.marker:nth-child(14){transform: rotate(78deg);}
.marker:nth-child(15){transform: rotate(84deg);}
.marker:nth-child(16){transform: rotate(90deg);}
.marker:nth-child(17){transform: rotate(96deg);}
.marker:nth-child(18){transform: rotate(102deg);}
.marker:nth-child(19){transform: rotate(108deg);}
.marker:nth-child(20){transform: rotate(114deg);}
.marker:nth-child(21){transform: rotate(120deg);}
.marker:nth-child(22){transform: rotate(126deg);}
.marker:nth-child(23){transform: rotate(132deg);}
.marker:nth-child(24){transform: rotate(138deg);}
.marker:nth-child(25){transform: rotate(144deg);}
.marker:nth-child(26){transform: rotate(150deg);}
.marker:nth-child(27){transform: rotate(156deg);}
.marker:nth-child(28){transform: rotate(162deg);}
.marker:nth-child(29){transform: rotate(168deg);}
.marker:nth-child(30){transform: rotate(174deg);}
.marker:nth-child(31){transform: rotate(180deg);}
.marker:nth-child(32){transform: rotate(186deg);}
.marker:nth-child(33){transform: rotate(192deg);}
.marker:nth-child(34){transform: rotate(198deg);}
.marker:nth-child(35){transform: rotate(204deg);}
.marker:nth-child(36){transform: rotate(210deg);}
.marker:nth-child(37){transform: rotate(216deg);}
.marker:nth-child(38){transform: rotate(222deg);}
.marker:nth-child(39){transform: rotate(228deg);}
.marker:nth-child(40){transform: rotate(234deg);}
.marker:nth-child(41){transform: rotate(240deg);}
.marker:nth-child(42){transform: rotate(246deg);}
.marker:nth-child(43){transform: rotate(252deg);}
.marker:nth-child(44){transform: rotate(258deg);}
.marker:nth-child(45){transform: rotate(264deg);}
.marker:nth-child(46){transform: rotate(270deg);}
.marker:nth-child(47){transform: rotate(276deg);}
.marker:nth-child(48){transform: rotate(282deg);}
.marker:nth-child(49){transform: rotate(288deg);}
.marker:nth-child(50){transform: rotate(294deg);}
.marker:nth-child(51){transform: rotate(300deg);}
.marker:nth-child(52){transform: rotate(306deg);}
.marker:nth-child(53){transform: rotate(312deg);}
.marker:nth-child(54){transform: rotate(318deg);}
.marker:nth-child(55){transform: rotate(324deg);}
.marker:nth-child(56){transform: rotate(330deg);}
.marker:nth-child(57){transform: rotate(336deg);}
.marker:nth-child(58){transform: rotate(342deg);}
.marker:nth-child(59){transform: rotate(348deg);}
.marker:nth-child(60){transform: rotate(354deg);}
.marker:nth-child(1){transform: rotate(0deg);}


.marker:nth-child(1)::before{
    content: '12';
    font-weight: 600;
    transform: translate(-50%,-50%) rotate(-0deg);
}

.marker:nth-child(6)::before{
    content: '1';
    transform: translate(-50%,-50%) rotate(-30deg);
}
.marker:nth-child(11)::before{
    content: '2';
    transform: translate(-50%,-50%) rotate(-60deg);
}
.marker:nth-child(16)::before{
    content: '3';
    font-weight: 600;
    transform: translate(-50%,-50%) rotate(-90deg);
}
.marker:nth-child(21)::before{
    content: '4';
    transform: translate(-50%,-50%) rotate(-120deg);
}
.marker:nth-child(26)::before{
    content: '5';
    transform: translate(-50%,-50%) rotate(-150deg);
}
.marker:nth-child(31)::before{
    content: '6';
    font-weight: 600;
    transform: translate(-50%,-50%) rotate(-180deg);
}
.marker:nth-child(36)::before{
    content: '7';
    transform: translate(-50%,-50%) rotate(-210deg);
}
.marker:nth-child(41)::before{
    content: '8';
    transform: translate(-50%,-50%) rotate(-240deg);
}
.marker:nth-child(46)::before{
    content: '9';
    font-weight: 600;
    transform: translate(-50%,-50%) rotate(-270deg);
}
.marker:nth-child(51)::before{
    content: '10';
    transform: translate(-50%,-50%) rotate(-300deg);
}
.marker:nth-child(56)::before{
    content: '11';
    transform: translate(-50%,-50%) rotate(-330deg);
}
.marker:nth-child(5n+1)::after{
    content: '';
    height: 2.5px;
    width: 2.5px;
    background-color: rgb(230, 48, 48);
}
.marker:nth-child(15n+1)::after{
    content: '';
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: rgb(230, 48, 48);
}
.date{
    position: absolute;
    padding: 2px;
    height: 30px;
    width: 50px;
    background-color:gray; 
    color: aqua;
    top: 47%;
    left:70%;
    display:grid;
    grid-template-areas: 'dt mon';
    grid-template-columns: 1fr 1fr;
    z-index: 1;

}
#dt,#mon{
    border: 1px solid white;
}
#dt{
    grid-area: dt;
    padding: 0.5px;
}
#mon{
    grid-area: mon;
    padding: 0.5px;
}
.day{
    padding-left: 5px;
    position: absolute;
    
    height: 30px;
    width: 70px;
    
    color: blue;
    top: 47%;
    left:20%;
    display: flex;
    justify-content: start;
    align-items: center;

}
p{
    font-size: 15px;
}

