

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@font-face {
    font-family: digital;
    src: url(digital-7.ttf);
}

:root{
    --light-color:cyan;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    background-color: rgb(39, 39, 50);
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
h2{
    color: cyan;
    font-weight: bolder;
    font-size: 40px;
}
.frame{
    height: 200px;
    width: 400px;
    background-color:  #2f3742;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 15px 26px 44px 21px rgba(0,0,0,0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}
.clock{
    height: 150px;
    width: 300px;
    background-color: #0f0f1c;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: digital;
    font-size: 50px;
    font-weight: 700;
    color: cyan;
    position: relative;
    text-shadow: 0 0 20px var(--light-color);

}

.clock::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px;
   background-color: var(--light-color);
   height: 100%;
   width: 100%;
   opacity: 0.1;
   filter: blur(100px);
}